{% extends 'base.html.twig' %}

{% block title %}Edit Depots{% endblock %}

{% block body %}
    <h1>Edit Depots</h1>

    {{ include('depots/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
