{% extends 'base.html.twig' %}

{% block title %}New ContenuDepot{% endblock %}

{% block body %}
    <h1>Create new ContenuDepot</h1>

    {{ include('contenu_depot/_form.html.twig') }}

{% endblock %}
