{% extends 'base.html.twig' %}

{% block title %}New DepotsEtudiants{% endblock %}

{% block body %}
    <h1>Create new DepotsEtudiants</h1>

    {{ include('depots_etudiants/_form.html.twig') }}


{% endblock %}
